@charset "utf-8";
/* Font-Face */
@font-face {
font-family:'YDGothic';
font-style:normal;
font-weight:normal;
src:url('YDGothic.eot');
src:local(※), url('YDGothic.woff') format('woff'), url('YDGothic.ttf') format('truetype')
}
@font-face {
font-family:'GillSansLight';
font-style:normal;
font-weight:normal;
src:url('GillSansLight.eot');
src:local(※), url('GillSansLight.woff') format('woff'), url('GillSansLight.ttf') format('truetype')
}
/* reset css */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px;-webkit-text-size-adjust:none;}
img,fieldset{border:0;}
ul,ol{list-style:none;}
em,address,var{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
legend,caption,.blind{overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;z-index:-1;width:1px;height:1px;font-size:0;line-height:0}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.chk{vertical-align:middle;margin:-1px 0 1px}
button{border:0;cursor:pointer}
body{background:#fff}
.wrap{position:relative;z-index:1;left:0}
.full_section{padding-bottom:50px;}
.skin_btm{position:fixed;left:0;bottom:0;width:100%;display:none}
.skin_left {position:absolute;top:0;left:-550px;width:50%;}
.skin_right {position:absolute;top:0;right:0;width:50%;}
.skin_btm .skin_left div{position:absolute;top:-1082px;left:0;width:100%;height:1082px;background-position:100% 0;background-repeat:no-repeat}
.skin_btm .skin_right div{position:absolute;top:-1082px;left:0;width:100%;height:1082px;background-position:550px 0;background-repeat:no-repeat;}

.top_nav{position:fixed;top:0;left:0;right:0;z-index:10000;background:url(../img/bg_nav.png);}
.nav_w{width:1100px;position:relative;margin:25px auto 0 auto;height:98px;background:url(../img/bg_nav.gif) 0 0 repeat-x;}
.nav_w .logo{position:absolute;top:23px;left:39px;}
.nav_w .logo img{width:137px}

.nav_w .nav_btn{position:absolute;top:25px;left:280px;font-family:'윤고딕',YDGothic;}
.nav_w .nav_btn > li{float:left;padding-right:25px;font-size:15px;font-weight:bold;vertical-align:top;position:relative;letter-spacing:-1px;}
.nav_w .nav_btn > li > a{color:#000;line-height:32px;}
.nav_w .nav_btn > li a:hover,
.nav_w .nav_btn > li.on > a{text-decoration:none;color:#E4AD45}
.nav_w .dep2{display:none;}
.nav_w .dep2 span.arr{background:url(../img/bg_sub_arr.gif) 0 0 no-repeat;position:absolute;top:23px;left:6px;width:6px;height:8px;}
.nav_w .dep2 ul{position:absolute;top:31px;left:0;background:url(../img/bg_sub_right.gif) #4B4B4B 100% 0 no-repeat;padding-right:6px;white-space:nowrap;}
.nav_w .dep2 ul:after{content:''; display:block; clear:both;}
.nav_w .dep2 ul li{display:inline-block;font-size:12px;font-weight:normal;padding-left:16px}
.nav_w .dep2 ul li:first-child{background:url(../img/bg_sub_left.gif) #4B4B4B 0 0 no-repeat;padding-left:6px}
.nav_w .dep2 ul li a{color:#fff;line-height:21px}
.nav_w .nav_btn > li.on .dep2{display:block}
.nav_w .nav_btn .dep2 li.on a{color:#E4AD45}
.nav_w .btn_search{width:24px;height:24px;background:url(../img/btn_search.png) 100% 50% no-repeat;position:absolute;top:52px;right:1px}

#cont_mov{position:relative;z-index:9999;overflow:hidden;padding-top:140px;width:1100px;margin:0 auto -150px auto;}
#cont_mov .btn_mov{height:46px;background:url(../img/line_mov.gif) 0 100% repeat-x;position:relative;margin-bottom:40px;width:1100px;}
#cont_mov .btn_mov .toggle{background:url(../img/btn_mov.png) 0 0 no-repeat;width:117px;height:22px;position:absolute;bottom:7px;right:12px}
#cont_mov.mov_off .btn_mov{background:none;margin-bottom:0;height:22px}
#cont_mov.mov_off .btn_mov .toggle{background:url(../img/btn_mov.png) 0 -50px no-repeat;position:fixed;top:123px;left:50%;margin-left:421px}
#cont_mov .mov_area{width:1100px;position:relative;text-align:center;}
#cont_mov .mov_area .dim{background:url(../img/trans.gif);width:100%;height:100%;position:absolute;top:0;left:0;right:0;}
#cont_mov .mov_area .line{background:url(../img/line_mov2.gif) 0 0 no-repeat;height:33px;margin:0 0 12px 0}
#cont_mov .bar_hidden{height:575px;overflow:hidden;margin-bottom:12px;}

.footer_wrap{position:fixed;bottom:0;left:0;right:0;z-index:10000;height:100px;width:1100px;margin:0 auto;}
.footer{height:73px;background:url(../img/line_footer.gif) #fff 0 0 repeat-x;width:1100px;margin:0 auto;position:absolute;top:100px;left:0;right:0;font-family:'윤고딕',YDGothic;z-index:1;}
.footer .txt{position:absolute;left:10px;top:32px;font-size:11px;letter-spacing:-1px;}
.footer .txt:after{content:''; display:block; clear:both;}
.footer .txt li{float:left;line-height:17px;background:url(../img/bu_dot.gif) 0 6px no-repeat;padding-left:5px;margin-right:13px}
.footer .btn{position:absolute;top:30px;right:124px;}
.footer .btn li{float:left;width:19px;margin-right:6px}
.footer .btn li a{display:block;width:19px;height:19px;background-image:url(../img/btn_footer.gif);background-repeat:no-repeat;}
.footer .btn li a.ic_mail{background-position:0 0;}
.footer .btn li a.ic_sns1{background-position:0 -50px;}
.footer .btn li a.ic_sns2{background-position:0 -100px;}
.footer .btn li a.ic_etc{background-position:0 -150px;}
.footer .sel_family{position:absolute;top:30px;right:6px;width:117px;z-index:10000}
.footer .sel_family .tit{position:absolute;top:0;left:0;width:110px;height:19px;background:url(../img/sel_family.gif) 0 0 no-repeat;color:#4B4B4B;font-size:12px;line-height:19px;padding-left:7px;text-decoration:none;font-weight:bold;letter-spacing:-1px;}
.footer .sel_family ul{display:none;position:absolute;left:0;bottom:-2px;border:2px solid #ABABAB;width:113px;background:#fff;padding:3px 0}
.footer .sel_family ul li{line-height:17px;padding-left:5px}
.footer .sel_family ul li a{color:#4b4b4b}

.main_w{position:relative;z-index:100}
.main_div{width:1110px;overflow-x:hidden;margin:0 auto 0 auto;padding:183px 0 80px 0px;}
.main_div:after{content:''; display:block; clear:both;}
.main_div > li{float:left; opacity:0; filter: alpha(opacity=0);}
.main_div > li .inner{word-break:break-all;word-wrap:break-word;margin:0 5px 10px;width:360px;height:245px;position:relative;background:#F4F2F0}
.main_div li img{vertical-align:top;}
.main_div a .ty1{color:#000}
.main_div .ty1{position:absolute;top:0;bottom:0;left:0;right:0;}
.main_div .ty1 h1{font-family:'GillSansLight';font-size:36px;line-height:36px;font-weight:normal;position:absolute;top:18px;left:15px;z-index:2;font-style:italic;text-shadow:1px 1px 5px #999;}
.main_div .ty1 h1 span{display:block;font-size:26px;color:#A0A9A4;line-height:26px}
.main_div .ty1 h1 .tit{border-top:1px solid #A0A9A4;min-width:134px;padding-right:10px}
.main_div .ty1 .more{background:url(../img/btn_more.png) no-repeat;width:29px;height:29px;position:absolute;bottom:6px;right:9px;z-index:4}
.main_div .ty1 .thmb{position:absolute;top:-2px;left:0;z-index:3;}
.main_div .ty_img .thmb{position:absolute;top:0;left:0; right:0; bottom:0; z-index:1}
.main_div .ty2{position:absolute;top:0;bottom:0;left:0;right:0;}
.main_div .ty2 h1{font-family:'GillSansLight';font-size:48px;line-height:39px;font-weight:normal;position:absolute;top:18px;left:15px;z-index:2;display:none}
.main_div .ty2 .more{background:url(../img/btn_more.png) no-repeat;width:29px;height:29px;position:absolute;bottom:6px;right:9px;z-index:2}
.main_div .ty2 .thmb{position:absolute;top:0;left:0;z-index:1}
.main_div a:hover .ty1 .thmb{z-index:1}
.main_div .thmb_sns{position:absolute;top:100px;left:20px;width:300px;}
.main_div .thmb_sns li{font-size:12px;color:#000;line-height:15px;padding-left:30px;margin-bottom:15px;font-family:'윤고딕',YDGothic;}
.main_div .thmb_sns li.ic_facebook{background:url(../img/bu_sns_fb.gif) 0 0 no-repeat;}
.main_div .thmb_sns li a{color:#000}
.full_section .footer{margin:20px auto -50px auto;}

.sub_cont{width:1100px;margin:0 auto;padding:0 0 30px 0;min-height:200px}
.sub_cont:after{content:''; display:block; clear:both;}
.sub_cont.bg_none{background:none}
.sub_tit{font-size:65px;color:#1a1919;font-family:'GillSansLight';font-weight:normal;margin-bottom:48px;position:relative;text-align:center;border-top:1px solid #000;background:url(../img/line_footer.gif) 0 100% repeat-x;padding:13px 0 21px}
.sub_tit span{font-size:30px;vertical-align:23px;}
.sub_tit .btn_home{position:absolute;top:25px;right:0;line-height:0;font-size:0}
.sub_cont .tit_bx{font-size:25px;font-family:'윤고딕',YDGothic;letter-spacing:-1px;color:#e6a867;font-weight:bold;text-align:center;}
.sub_cont .tit_bx em{font-family:'tahoma';vertical-align:super;font-size:18px}
.sub_cont .tit_bx p{background:url(../img/bg_tit_c.gif) 50% 100% no-repeat;height:73px;display:inline-block;position:relative;}
.sub_cont .tit_bx .bg_left{background:url(../img/bg_tit_left.gif) 0 0 no-repeat;width:185px;height:42px;position:absolute;bottom:0;left:-95px}
.sub_cont .tit_bx .bg_right{background:url(../img/bg_tit_right.gif) 0 0 no-repeat;width:185px;height:42px;position:absolute;bottom:0;right:-95px}
.sub_cont .sub_inner{text-align:center;font-family:'윤고딕',YDGothic;color:#5a4a3d}
.sub_cont .sub_text{background:url(../img/bg_cont1.gif) 0 0 no-repeat;display:inline-block;text-align:center;max-width:900px}
.sub_cont .sub_text_inner{background:url(../img/bg_cont2.gif) 100% 100% no-repeat;display:inline-block;padding:15px 86px 15px 86px;}
.sub_cont .sub_text .txt{font-size:16px;line-height:20px;letter-spacing:-2px;margin:10px 0}
.sub_cont .sub_text .txt strong{font-size:18px;}
.sub_cont .txt2{margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:18px;line-height:26px;font-weight:bold}
/*.sub_cont .txt{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:14px;line-height:22px}
.sub_cont .txt2{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:20px;line-height:26px}
.sub_cont .txt3{padding:0 0 0 80px;margin:30px 0 20px;font-family:'윤고딕',YDGothic;font-size:20px;line-height:26px}*/
.sub_cont .r{font-family:'tahoma';vertical-align:super;}
.sub_cont .img{vertical-align:top;margin-top:5px}
.sub_cont dl.lst{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:14px;line-height:22px;text-align:left;}
.sub_cont dl.lst dt{font-weight:bold;color:#1A1919;font-size:16px;margin-bottom:12px;}
.sub_cont dl.lst dd{font-size:14px;line-height:21px;color:#292828;background:url(../img/bu_dl.png) 0 3px no-repeat;padding-left:23px;margin-bottom:10px;}
.sub_cont ol.lst{padding:0 0 0 80px;margin:15px 0 20px;font-family:'윤고딕',YDGothic;font-size:14px;line-height:22px}
.sub_cont ol.lst li{font-size:14px;line-height:21px;color:#292828;margin-bottom:10px;text-align:left;}
.sub_cont ol.lst li:after{content:''; display:block; clear:both;}
.sub_cont ol.lst li span{float:left;width:30px;background:url(../img/bu_ol.png) 0 0 no-repeat;line-height:30px;color:#fff;text-align:center;margin-right:10px;}
.sub_cont ol.lst li p{float:left;width:800px;padding-top:6px}

.pagination{text-align:center;}
.pagination a,.pagination strong{display:inline-block;text-decoration:none;width:17px;height:17px;line-height:17px;font-size:11px;font-family:'Arial';color:#000;vertical-align:middle;}
.pagination a:hover{background-color:#fafafa}
.pagination a.prev,.pagination a.prev2,.pagination a.next,.pagination a.next2{background-image:url(../img/sp_page.png)}
.pagination a.prev2{background-position:0 0;margin-right:2px}
.pagination a.prev{background-position:0 -50px;margin-right:5px}
.pagination a.next2{background-position:0 -100px;margin-left:2px}
.pagination a.next{background-position:0 -150px;margin-left:5px;}

.prod_tab{width:994px;margin:0 auto;text-align:left;margin-top:25px;padding-left:6px}
.prod_tab:after{content:''; display:block; clear:both;}
.prod_tab li{display:inline-block;font-size:14px;background:#C2C4C6;font-weight:bold;letter-spacing:-1px;height:30px;border:solid 0px #fff;-moz-border-radius-topleft: 10px;-moz-border-radius-topright:10px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:0px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-left-radius:0px;-webkit-border-bottom-right-radius:0px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;margin-left:-6px;vertical-align:bottom;}
.prod_tab li a{color:#fff;display:inline-block;line-height:30px;padding:0 10px;text-decoration:none}
.prod_tab li.on{background:#D5AC4E;height:40px;font-size:18px}
.prod_tab li.on a{line-height:42px;padding:0 15px}
.prod_lst{display:none}
.prod_lst ul{padding:10px 0 30px;width:1000px;margin:0 auto;background-color:#F4F3F1}
.prod_lst li{padding-top:20px;}
.prod_lst li:after{content:''; display:block; clear:both;}
.prod_lst li .thmb{float:left;width:500px;text-align:center;}
.prod_lst li .thmb img{vertical-align:top;}
.prod_lst li .prod_de{float:left;width:450px;margin-bottom:-1px;padding-top:10px;text-align:left;}
.prod_lst li .prod_de dt{color:#1a1919;font-size:24px;font-family:'윤고딕',YDGothic;line-height:26px;margin-bottom:15px;font-weight:bold;color:#5a4a3d}
.prod_lst li .prod_de dd{color:#1a1919;font-size:16px;font-family:'윤고딕',YDGothic;line-height:20px;border-bottom:1px solid #908075;padding:8px 0 8px}
.prod_lst li .prod_de dd:after{content:''; display:block; clear:both;}
.prod_lst li .prod_de dd .tt{font-weight:bold;width:120px;float:left;}
.prod_lst li .prod_de dd .dc{float:left;width:330px;}
.prod_lst li .prod_de dd.last{border-bottom:none}

.sns_lst ul{width:1090px;margin-left:10px}
.sns_lst ul:after{content:''; display:block; clear:both;}
.sns_lst li{width:258px;height:260px;border:1px solid #B9B2AB;float:left;margin:0 5px 10px 5px;position:relative;}
.sns_lst li a{color:#000}
.sns_lst li .facebook_wrap{background:url(../img/bu_sns_fb.gif) 20px 15px no-repeat;padding-top:15px;}
.sns_lst li .txt{padding:29px 0 0 20px;line-height:17px;color:#000;font-family:'윤고딕',YDGothic;font-size:12px;max-height:50px;overflow:hidden}
.sns_lst li .img{margin-top:10px;padding:0 20px}
.sns_lst li .img img{vertical-align:top;}
.sns_lst li .share{position:absolute;bottom:0;height:29px;left:0;right:0;padding:10px 0 0 20px;background-color:#E6A867}
.sns_lst li .share img{vertical-align:top;width:22px;height:22px;background-image:url(../img/sp_sns.png);margin-right:10px;float:left}
.sns_lst li .share img.btn_share{background-position:0 0;}
.sns_lst li .share img.btn_fb{background-position:0 -50px;}
.sns_lst li .share img.btn_tw{background-position:0 -100px;}

.press_lst{}
.press_lst .press_top{width:1120px;margin-left:-10px;}
.press_lst .press_top:after{content:''; display:block; clear:both;}
.press_lst .press_top li{float:left;width:260px;height:255px;margin:0 10px;position:relative;}
.press_lst .press_top li img{max-width:100%;vertical-align:top;}
.press_lst .press_top li a{text-decoration:none}
.press_lst .press_top li dl{position:absolute;bottom:0;left:0;right:0;background:url(../img/bg_press.png);font-family:'윤고딕',YDGothic;line-height:18px;font-weight:normal;padding:3px 13px 0; height:60px}
.press_lst .press_top li dl dt{color:#f8193e;font-size:12px;}
.press_lst .press_top li dl dd{color:#fff;font-size:13px;}

.press_lst .press_btm{margin:60px 15px 0 0;border-top:1px solid #000}
.press_lst .press_btm li{vertical-align:top;border-bottom:1px solid #ccc;font-family:'윤고딕',YDGothic;padding:7px 20px 7px 5px}
.press_lst .press_btm li a{text-decoration:none;display:block}
.press_lst .press_btm li dl:after{content:''; display:block; clear:both;}
.press_lst .press_btm li dt{float:left;color:#f8193e;font-size:12px;margin-right:18px}
.press_lst .press_btm li dd{float:left;font-size:13px;color:#000}
.press_lst .press_btm li dd.date{float:right;color:#979797;font-family:'Arial'}
.press_lst .pagination{margin-top:20px;}

.faq_lst{}
.faq_lst ul{font-family:'윤고딕',YDGothic;}
.faq_lst ul li{vertical-align:top;background:url(../img/sp_faq.png) 100% -34px no-repeat;}
.faq_lst ul li dt{background:url(../img/ico_q.png) 1px 11px no-repeat;font-size:14px;padding:12px 30px 11px 20px;line-height:17px;font-weight:bold;border-bottom:1px solid #B2B2B2;cursor:pointer}
.faq_lst ul li dt a{color:#000}
.faq_lst ul li dd{display:none;border-bottom:1px solid #000;background:url(../img/ico_a.png) 0 8px no-repeat;padding:27px 0 14px 0;line-height:18px;font-size:13px;color:#000}
.faq_lst ul li.on{background:url(../img/sp_faq.png) 100% 16px no-repeat;}

.mail_wrap{width:725px;font-family:'윤고딕',YDGothic;padding-top:45px;margin:0 auto}
.mail_wrap:after{content:''; display:block; clear:both;}
.mail_wrap h1{font-size:18px;color:#000;margin:0 0 13px}
.mail_wrap .bx_agree{background:#E3E3E3;height:114px;padding:8px 11px}
.mail_wrap .bx_agree p{line-height:16px;color:#000;height:110px;overflow-x:hidden;overflow-y:auto;}
.mail_wrap .chk_agree{margin:10px 0 60px}
.mail_wrap .sel_desc{font-size:12px;color:#fff;background:#B9B2AB;line-height:23px;padding:0 14px 0 10px;display:inline-block;margin-top:9px}
.mail_wrap .sel_agree{margin-top:19px}
.label_chk,.label_radio{height:18px;padding-left:26px;position:relative;font-size:14px;color:#000;line-height:18px;display:inline-block}
.label_chk input,.label_radio input{ position: absolute;left:0;top:0;width:100%;height:18px;opacity: .01; filter: alpha(opacity=1);}
.label_chk{background: url(../img/sp_chk.gif) 0 1px no-repeat;}
.label_radio{background: url(../img/sp_radio.gif) 0 0 no-repeat;}
label.c_on{background: url(../img/sp_chk.gif) 0 -49px no-repeat;}
label.r_on{background: url(../img/sp_radio.gif) 0 -50px no-repeat;}
.label_radio span{margin-right:5px}
.mail_wrap .send_text{padding-top:12px;}
.mail_wrap .send_text .inp{position:relative;margin-top:10px;}
.mail_wrap .send_text .inp label{position:absolute;top:0;left:0;color:#b9b2ab;padding-left:5px;line-height:30px;display:none;}
.mail_wrap .send_text .ip_txt{border:1px solid #B9B2AB;width:230px;height:30px;line-height:30px\9;padding:0 5px;color:#b9b2ab;font-family:'윤고딕',YDGothic;}
.mail_wrap .send_text .ip_txt.focusin{color:#000}
.mail_wrap .send_text .ip_textarea{border:1px solid #B9B2AB;width:713px;height:150px;padding:5px;font-family:'윤고딕',YDGothic;line-height:17px;color:#000}
.mail_wrap .send_text .btn_area{margin-top:12px;}
.mail_wrap .send_text .btn_send{background:url(../img/btn_send.gif) 0 0 no-repeat;width:100px;height:50px;}

.m_top_nav_w{display:none;position:fixed;left:0;top:0;width:100%;z-index:10000;height:48px;background:#fff;border-top:2px solid #000;border-bottom:2px solid #000}
.m_top_nav{height:42px;margin:0;position:relative;border-top:1px solid #000;border-bottom:1px solid #000;top:2px;}
.m_top_nav .logo{position:absolute;top:11px;left:10px;}
.m_top_nav .logo img{width:60%}
.m_top_nav .m_top_btn{position:absolute;top:15px;right:10px}
.m_top_nav .m_top_btn button{width:15px;height:15px;margin-left:10px}
.m_top_nav .m_top_btn button.btn_cat{background:url(../img/m_cat.png) 0 0 no-repeat;background-size:15px 15px;}
.m_top_nav .m_top_btn button.btn_search{background:url(../img/m_search.png) 0 0 no-repeat;background-size:15px 15px;}
.m_top_cat{background:#4C4C4C;padding:15px 0;text-align:center;display:none;position:absolute;top:0;right:-100%;z-index:1000}
.m_top_cat .logo{margin-top:5px;}
.m_top_cat .nav_btn{margin-top:40px;text-align:left;border-top:1px solid #707070;padding:0 15px}
.m_top_cat .nav_btn > li {border-bottom:1px solid #707070;}
.m_top_cat .nav_btn > li a{line-height:40px;color:#fff;font-size:14px;font-family:'윤고딕',YDGothic;text-decoration:none;display:block}
.m_top_cat .nav_btn .dep2{display:none}
.m_top_cat .nav_btn .dep2 li{padding-left:10px;border-top:1px solid #707070;}
.m_top_cat .nav_btn .dep2 li a{font-size:13px;color:#A3A3A3;line-height:30px;}
.m_top_cat .nav_btn .dep2 li.on{background:url(../img/m_bu_arr.gif) 0 45% no-repeat;background-size:6px 7px}
.m_top_cat .nav_btn .dep2 li.on a{color:#fff}
.m_top_cat .nav_btn > li.on .dep2{display:block}
.m_mov{display:none;margin:0 auto 15px auto}

@media (max-width: 640px) and (min-width: 0) {
.nav_w{display:none}
.main_div{ width:auto; padding:183px 2px 80px 2px;}
.sub_cont{width:auto; padding: 0 5px 30px 5px;}
.sub_cont img{ width:auto; height:auto; max-width:100%}
.footer_wrap{ width:auto}
.footer{width:auto}
.full_section{padding-bottom:30px;}

.main_div > li{width:50%}
.main_div > li .inner{margin:0 auto 5px;width:97%; height:140px}
.main_div li img{vertical-align:top; width:100%; height:100%}
.main_div > li.roll_img{ width:100%;}
.main_div > li.roll_img .inner{ margin:0 3px 5px; width:auto; height:auto;}
.main_div .ty1 h1{font-size:18px;line-height:20px;top:8px;left:9px;}
.main_div .ty1 h1 span{display:inline-block; padding-right:10px; font-size:12px;line-height:14px; border-bottom:1px solid #A0A9A4;}
.main_div .ty1 h1 .tit{border-top:0;min-width:auto;}
.main_div .ty1 .more{background-size: 15px 15px;width:15px;height:15px;bottom:4px;right:5px;}
.main_div .thmb_sns{top:60px;left:10px;width:auto;overflow:hidden;width:90%}
.main_div .thmb_sns li{font-size:11px;line-height:14px;padding-left:15px;height:28px;overflow:hidden;margin-bottom:5px}
.main_div .thmb_sns li.ic_facebook{background-size: 11px 11px;background-position:0 1px;}

.sub_tit{font-size:24px;margin-bottom:20px;padding:9px 0 11px}
.sub_tit span{ display:block; font-size:15px;}
.sub_tit .btn_home{top:13px;right:0; width:17px; height:16px;}

.sub_cont .tit_bx{font-size:14px;margin-bottom:14px}
.sub_cont .tit_bx em{font-size:12px}
.sub_cont .tit_bx p{height:auto;min-width:170px;background-size:500px 21px; padding:0 15px 26px;}
.sub_cont .tit_bx .bg_left{background-size:92px 21px; width:92px;height:21px;left:0}
.sub_cont .tit_bx .bg_right{background-size:92px 21px; width:92px;height:21px;right:0}

.sub_cont .sub_text{background-size: 47px 35px;}
.sub_cont .sub_text_inner{background-size: 41px 31px;padding:15px 31px 15px 35px;}
.sub_cont .sub_text .txt{font-size:13px;line-height:20px;}
.sub_cont .sub_text .txt strong{font-size:14px;}
.sub_cont .txt2{font-size:14px;line-height:26px;}

.sub_cont dl.lst{padding:0 0 0 0;}
.sub_cont dl.lst dt{font-size:14px;}
.sub_cont dl.lst dd{font-size:13px;}
.sub_cont ol.lst{padding:0 0 0 0;}
.sub_cont ol.lst li{font-size:13px;line-height:21px;}
.sub_cont ol.lst li span{ font-size:14px;}
.sub_cont ol.lst li p{width:100%;}

.prod_tab{width:auto;}
.prod_tab li{font-size:12px;}
.prod_tab li.on{font-size:13px}
.prod_tab li.on a{line-height:42px;padding:0 13px}
.prod_lst ul{width:auto;}
.prod_lst li .thmb{width:100%;}
.prod_lst li .prod_de{width:80%;padding:0 10%}
.prod_lst li .prod_de dt{font-size:14px;margin-bottom:5px;margin-top:10px;}
.prod_lst li .prod_de dd{font-size:12px;}
.prod_lst li .prod_de dd .tt{width:100%;}
.prod_lst li .prod_de dd .dc{width:100%;}

.sns_lst ul{width:auto;margin-left:0}
.sns_lst li{float:none;margin:0 auto 10px auto;width:100%}

.press_lst .press_top{width:auto;margin-left:0;}
.press_lst .press_top li{float:none;margin:0 auto 10px;width:100%;height:auto}
.press_lst .press_top li img{width:100%}
.press_lst .press_btm{margin:30px 0 0 0}

.mail_wrap{width:auto;padding-top:0;}
.mail_wrap h1{font-size:14px;}
.mail_wrap .send_text .ip_textarea{width:95%;}

#cont_mov{padding-top:20px;width:100%;margin:0 auto -150px auto;}
#cont_mov .btn_mov{height:46px;position:relative;width:100%;padding-bottom:40px;}
#cont_mov .btn_mov .toggle{background:url(../img/btn_mov.png) 0 0 no-repeat;width:117px;height:22px;position:absolute;right:0}
#cont_mov.mov_off .btn_mov{background:none;margin-bottom:0;height:22px}
#cont_mov.mov_off .btn_mov .toggle{top:52px;right:0;bottom:auto;left:auto;z-index:100}
#cont_mov .mov_area{width:100%;position:relative;text-align:center;}
#cont_mov .mov_area .dim{display:none;}
#cont_mov .mov_area .line{background-size:100% 100%;height:20px}
#cont_mov .bar_hidden{display:none}

.m_mov{display:block}

.top_nav,.skin_btm{display:none}
.m_top_nav_w{display:block}

.footer_wrap{position:static;height:auto;width:100%;}
.footer{height:140px;background:#fff;width:100%;margin:0 auto;position:relative;overflow:hidden;top:0}
.footer .txt{position:absolute;left:10px;top:32px;font-size:11px;letter-spacing:-1px;}
.footer .txt:after{content:''; display:block; clear:both;}
.footer .txt li{float:left;line-height:17px;background:url(../img/bu_dot.gif) 0 6px no-repeat;padding-left:5px;margin-right:13px}
.footer .btn{top:110px;right:auto;left:10px;}
.footer .sel_family{top:110px;right:auto;left:110px;width:117px;}

}
